# APP
APP_NAME=gateway
NODE_ENV=development
APP_PORT=3000

# DATABASE
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_NAME=schedule

# MICROSERVICES
USERS_SERVICE_URL=http://localhost:3001
CLIENTS_SERVICE_URL=http://localhost:3002
SERVICES_SERVICE_URL=http://localhost:3003
AGENDA_SERVICE_URL=http://localhost:3004
AUTH_SERVICE_URL=http://localhost:3005
NOTIFICATIONS_SERVICE_URL=http://localhost:3006
